{% block body %}
  <!doctype html>
  <html class="no-js" lang="">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>B-DEV-500 Dashboard</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="shortcut icon" href="images/favicon.ico">
      <link rel="stylesheet" type="text/css" href="stylesheets/theme.css" />
      <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlYNNs7VBO71qiKFMNiD0R9sd8hOt0wD4"></script>
      <script src="javascripts/theme.min.js"></script>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent" role="navigation">
      <div class="container no-override">
          <a class="navbar-brand" href="/">
              B-DEV-500 Dashboard
          </a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
              <ul class="navbar-nav">
                  {% if not user %}
                  <li class="nav-item active dropdown">
                      <a href="/register" class="nav-link dropdown-toggle">
                          Register
                      </a>

                  </li>
                  <li class="nav-item dropdown">
                      <a href="/login" class="nav-link dropdown-toggle">
                          Login
                      </a>
                  </li>
                  {% else %}
                  <li class="nav-item dropdown">
                      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                          {{user}}
                          <i class="ion-chevron-down"></i>
                      </a>
                      <div class="dropdown-menu" role="menu">
                          <a class="dropdown-item" href="dashboard">Home</a>
                          <a class="dropdown-item" href="profil">Profil</a>
                          <a class="dropdown-item" href="logout" style="color: #9b2625;">Logout</a>
                      </div>
                  </li>
                  {% endif %}
                  </ul>
          </div>
      </div>
  </nav>

  <div class="business-hero">
      <div class="container">
          <h2 class="customFadeInUp">
              Dashboard
          </h2>
          <p>
              All your information in the blink of an eye.
          </p>
      </div>
  </div>

  <footer class="footer">
      <div class="container">
          <div class="bottom">
              <ul>
                  <li><a href="#">2020</a></li>
              </ul>
          </div>
      </div>
  </footer>

  <script type="text/javascript">
      $(function () {
          var trigger = new ScrollTrigger({
              toggle: {
                  visible: 'customFadeInUp'
              },
              offset: {
                  y: 150
              },
              once: true
          });
      });
  </script>
  </body>
  </html>

{% endblock %}
