{% block body %}
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="stylesheets/theme.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlYNNs7VBO71qiKFMNiD0R9sd8hOt0wD4"></script>
    <script src="javascripts/theme.min.js"></script>
</head>
<body class="signin-page">
<div class="wrapper">
    {% if error %}
    <div class="alert alert-danger" role="alert">
        <strong>Username or password incorrect.</strong> If you don't have an account yet,  <a href="/register">Sign up</a> <strong></strong>
    </div>
    {% endif %}
    <div class="header">
        <a href="index.html" class="logo">
        </a>
    </div>
    <form action="/login" method="post">
        <div class="form-field">
            <input type="text" placeholder="Username" name="username" required>
        </div>
        <div class="form-field">
            <input id="password" type="password" placeholder="Password" name="password" required>
        </div>
        <div class="form-action">
            <input type="submit" class="btn-shadow btn-shadow-primary" value="Log in">
        </div>
        <div class="form-action">
            <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
        </div>
        <div class="form-bottom">
            Don't have an account yet?
            <a href="register">Sign up</a>
        </div>
    </form>

    <script>
        function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);
            if (response.status === 'connected') {
                testAPI();
            } else {
                document.getElementById('status').innerHTML = 'Please log ' +
                    'into this app.';
            }
        }
    </script>

    <div id="status">
    </div>
</div>
</body>
</html>
{% endblock %}